#sample config

#select all channels in these groups
GROUPS=USA ENTERTAINMENT,USA MOVIES,USA SPORTS,USA NEWS,USA MUSIC,USA FAMILY & KIDS

#select or !remove individual channels matching these patterns.
STREAMS=BALTIMORE,!WEST,! SD,!(SD)

#strip these patterns from ^start, end$ or anywhere in name. pattern/string to replace pattern.
RENAME=^USA , EAST, (SHD)$,BALTIMORE | MD/LOCAL

#replace other versions of channel if channel+pattern exists.
#done in specified order, so preference is LHD, UHD, no suffix
REPLACE= (UHD), UHD, LHD

#xtream codes here as URL USER PASS (good luck with these, they're pretty full!)
http://s.rocketdns.info:8080 monstercable Dq6jjknxCr
http://s.rocketdns.info:8080 R6NARooECR sRopDAGpBx
http://s.rocketdns.info:8080 XtremeTV 5ALMBnQVzb
http://s.rocketdns.info:8080 Z3nXfkOnf0 Madt8rUvmN
