groups=|USA,!LOCAL,!LOW,!LATIN,!RELIG,!PUBLIC,SPORTS,KIDS,ESPN

streams=baltimore,WETA,! SD,!CA:,!CA ,!UK: ,!es: ,!west,nfl network,mlb network,nba tv,nhl network,!music,!stingray,!philippines,!portugal

rename=|REG: ,|USA ,|USA: ,|USA | ,|BASICS: ,the ,(,), HD, SHD, (SHD), east, (east), channel, network, entertainment, baltimore maryland,|MD | BALTIMORE | ,ABC 2=ABC,NBC 11=NBC,FOX 45=FOX,CBS 13=CBS,dicovery science=science,investigation discovery=ID,national geographic=NAT GEO,nickelodeon=NICK,oxygen true crime=OXYGEN,paramount TV=paramount,A & E=A&E,MS NOW=MSNBC,motortrend=discovery turbo=,movies=movie,FX movie=FXM,tru TV=truTV,logo TV=logo,sundance TV=sundance,01 ,03 , 720,marquee sports=marquee,ESPN U=ESPNU,ELEVEN SPORTS=NEXT LEVEL SPORTS

replace=|FHD: , FHD, (UHD), UHD, LHD

http://etvhosts.site:55337 Dcoke07 u9Uk4m4iI6
http://etvhosts.site:55337 JR8282 ST5599
http://etvhosts.site:55337 XVtqq37E3e We00u25Ktl
http://etvhosts.site:55337 marvgte Outlet7399
http://etvhosts.site:55337 ybTknrHAv 8Zn559B76
http://etvhosts.site:55337 9yVzZ6Uje3 9KuMa22xp6

http://ahhshitherewegoagain.sytes.net:83 Christyadams 9561427830
http://ahhshitherewegoagain.sytes.net:83 23MIKE23 4589610273

#http://s.rocketdns.info:8080 XtremeTV 5ALMBnQVzb 38/50 Active None
