# KEY+= will append to the values, not replace them
# for all patterns included whitespace is matched, use this to avoid unwanted matches.
# the default is to match anywhere in name
# ^pattern will match the start of the name
# pattern$ will match the end of the name
# ^pattern$ is exact match
# !pattern will exclude


#select groups of channels
#patterns to select and to exclude from the selected groups
groups=

#select and exclude individual streams by patterns
streams=

#for rename, matched patterns are removed from the name. pattern=text will replace the pattern with the text
rename=

#for replace, channels matching the pattern will be renamed to remove the pattern.
# if there is a match and channels with that name minus the pattern exist, they will be removed.
# for example: if the pattern is ' HD$' and 'ABC HD' exists, it will be renamed to 'ABC'
# any other channels named 'ABC' will be removed, but only if 'ABC HD' exists.
replace=

#if you have a large number of accounts, you do not want to hammer the source with every check or you may get IP banned.
#set CHECK=n to randomly select that many accounts per URL and only check those. 0 will check all.
#CHECK=0

#to avoid delays when tuning, set TIMEOUT to give up after waiting TIMEOUT seconds for a response
#TIMEOUT=1

#ACCOUNTS go here as
#URL USERNAME PASSWORD PRIORITY
